body {
    font-family: Montserrat;
    padding: 0;
}
h1 {
    font-family: Montserrat;
    font-weight:600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #e3e3e3;
}
#title {
    background-color: #ff4c68;
    color: #fff;
}
#header {
    background-color: #ff4c68;
}
.navbar-brand {
    color: #e3e3e3;
}
.navbar-toggler {
    color: #e3e3e3;
    background-color: #ffffff57;
}
.nav-link {
    color: #e3e3e3;
}
.nav-link:not(.nav-link:active) {
    color: #fff;
}
.container-fluid {
    padding: 5%;
}
#title .container-fluid {
    padding: 0 5% 5% 5%;
}
.buttons {
    padding-top: 5%;
}
.white-text {
    color:#e3e3e3;
}
.rotate-15 {
    transform: rotate(15deg);
}
.navbar-brand {
    font-size: 2rem;
    font-family: Ubuntu;
    font-weight: lighter;
}
.nav-link {
    opacity: 66%;
}
.nav-link:hover {
    opacity: 100%;
    font-size: larger;
}
#features {
    background-color: #e3e3e3;
}
#features h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
#features i {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
#features p {
    margin-bottom: 3rem;
    color: #8f8f8f;
}
.col-lg-6 img {
    width: auto;
}
.col-sm-12 img {
    width: 60%;
}
.custom-icon {
    font-size: 3rem;
    color: #ef8172
}
.custom-icon:hover {
    color:#ff4c68
}
/* testimonial section */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color:#e3e3e3
}
#testimonials h2 {
    padding:7% 15%;
}
 h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
 }
 .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
 }
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    display:inline-block;
}
.press-logo img {
    width: 10%;
}
/* pricing section */
#pricing {
    padding: 10px;
}
.pricing-column {
    margin: 6% 0;
}